.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: 120px;
}