* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  padding: 30px;
}

button {
  position: absolute;
  margin-left: 15%;
  padding: 7px 10px;
  background: #ddd;
  border: 1px solid #000;
  border-radius: .3rem;
}

button:hover {
  background: #ccc;
  cursor: pointer;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 30px;
  /* background-color: #bebfc4; */
  background-color: #111;
  color: #fff;
}

.current-score, 
.high-score {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.current-score{
  text-align: end;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  grid-gap: 10px;
  margin: auto;
}

.rules-modal {
  max-width: 800px;
  grid-gap: 10px;
  margin: auto;
  padding: 2rem 100px;
  border: 3px solid #ddd;
  border-radius: .3em;
}

.rules-modal h2 {
  text-align: center;
}

.rules-modal ul li {
  margin-top: 10px;
  list-style-type: square;
  font-size: 1.2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ddd;
  border-radius: .3em;
  height: 175px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 40px solid #183c28;
}

.card img {
  width: 150px;
  height: 120px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #111;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}