* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 30px;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.current-score, 
.high-score {
}

.current-score{
  text-align: end;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  grid-gap: 10px;
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: .3em;
  height: 175px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  border: 40px solid #ddd;
}

.card img {
  width: 150px;
  height: 120px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #111;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}